
</br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Kitapları Güncelle</h1>
        </div>
        <div class="card-body">
            <%= render 'form', kitap: @kitap %>
        </div>
    </div>
    </br>
    <%= link_to 'Görüntüle', @kitap , {:class=>"btn btn-primary"} %> |
    <%= link_to 'Geri Git', kitaps_path , {:class=>"btn btn-success"} %>
</div>
</br>
